/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/*schedeeeeee----------------------------------------*/
span {
  display:block;
  position:fixed;
  top:0;
  left:0;
}

/* --Basic tab dimension-- */
#tab {
  width:80%;
  float: right;
}

#tab > ul {
  margin:0 0;
  padding:0 0;
  height:30px;
  overflow:hidden;
}

#tab > ul li {
  float:right;
  display:inline;
  list-style:none;
  margin:0 2em 0 0;
  padding:0 0;
}

#tab > ul li a {
  display:block;
  background-color:white;
    color:black;
  font-weight:bold;
  font-size:11px;
  line-height:30px;
  height:30px;
  color:black;
  text-decoration:none;
  padding:0 30px;
}


#tab > div {
  clear:both;
  background-color:white;
    color:black;
  padding:0 15px;
  height:0;
  overflow:hidden;
  visibility:hidden;
  -webkit-transition:all .4s ease-in-out;
  -moz-transition:all .4s ease-in-out;
  -ms-transition:all .4s ease-in-out;
  -o-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out;
}

#tab a:hover {
				background-color: #0b3d86;
			}
/* ================================
   Here's the CSS :target job list
   ================================ */

/* Reset the first tab button and the first tab content to the default behaviour if the hash is active */
span:target ~ #tab > ul li:first-child a {
  background-color:white;
    color:black;
}

span:target ~ #tab > div:first-of-type {
  visibility:hidden;
  height:0;
  padding:0 15px;
}

/* Always show the first tab container by default */
span ~ #tab > div:first-of-type,
/* Show a specific tab content based on the 'selected' target element */
#tab-1:target ~ #tab > div.tab-content-1,
#tab-2:target ~ #tab > div.tab-content-2,
#tab-3:target ~ #tab > div.tab-content-3,
#tab-4:target ~ #tab > div.tab-content-4 {
  visibility:visible;
  height:100em;
  padding:10px 15px;
}

/* Always set the first tab with a 'current color' by default */
span ~ #tab > ul li:first-child a,
/* Set the current tab button color based on the 'selected' target element */
#tab-1:target ~ #tab > ul li a[href$="#tab-1"],
#tab-2:target ~ #tab > ul li a[href$="#tab-2"],
#tab-3:target ~ #tab > ul li a[href$="#tab-3"],
#tab-4:target ~ #tab > ul li a[href$="#tab-4"] {
  background-color:#0b3d86;
  color:white;
}

#cells{padding:20px 20px;}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: justify;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
