<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "1" 
        version     = "1.0.0" >
 
    <!-- versionCode is Android only -->
    <!-- version is in major.minor.patch format --> 
    <name>TIM hyp59</name>
 
    <description>
       Politecnico project
    </description>
 
    <author href="https://YourWebsite.com" email="yourEmail@goesHere.com">
        Gervasoni Nicole, Lorini Raffaele, Oldani Federico
    </author>
 <gap:plugin name="com.indigoway.cordova.whitelist.whitelistplugin" version="1.1.1" />
<access origin="*" />
<allow-navigation href="*" />
<allow-intent href="*" />
</widget>

